/* body {
    background-image: url(galaxy.jpg)
} */

.container {
    display: grid;
    grid-template-areas:
    'header header header margin'
    'content content photo photo'
    'experience experience experience experience'
    'projects projects projects projects'
    'socials socials socials smash'
    'footer footer footer footer';
    gap: 1rem;
}

.header,
.margin,
.content,
.socials,
.experience,
.photo,
.projects,
.smash,
.footer {
border: 2px solid #917FB3;
padding: 1rem;
}

.header {
    grid-area: header;
    text-align: center;
}

.margin ul li {
    float: right;
    list-style-type: none;
    justify-content: space-between;
}

.margin ul li a {
    display:block;
    color: black;
    padding: 0.8rem;
    text-decoration: none;
}

.margin ul li a:hover {
color: blueviolet;
}

.content {
    grid-area: content;
}

.socials {
    grid-area: socials;
}

.socials ul li a {
    color: black;
}
.socials ul li a:hover {
color: blueviolet;
}

.experience {
    grid-area: experience;
}

.photo {
    grid-area: photo;
}
.projects {
    grid-area: projects;
}

.smash {
    grid-area: smash;
}
.footer {
    grid-area: footer;
    text-align: center;
}

@media(max-width: 200px) {
    .container  {
        grid-template-areas:
        'header'
        'margin'
        'content'
        'socials'
        'experience'
        'photo'
        'projects'
        'footer'

    }
    .margin ul li{
        flex-direction: row;
        justify-content: space-between;
    }
}